FinServe.json
{
  "name": "FinServe",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "finserve-support",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "1f728bb6-412a-41cc-b8f8-388fa5f5a93f",
      "name": "Webhook",
      "webhookId": "c2f868a2-c977-4573-ac90-5f1a4f18ef46"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.ticket_text }}",
        "options": {
          "systemMessage": "You are an expert Support Agent for FinServe. Analyze the client's message. \n\nUse your Google Sheets tool to find the exact company policy related to the user's problem. Once you find it, draft a response. Draft ONLY the core body of the reply. Do NOT include any greetings (like 'Dear Client') or sign-offs (like 'Best regards'). \n\nIf the Google Sheets tool does not return any relevant policy for the user's issue, set \"suggested_policy\" to \"NO_POLICY_FOUND\" and draft a polite, generic reply stating that we need to look closer into their specific case and a specialist will contact them shortly.\n\nReturn your final answer ONLY as a valid JSON object with four keys: \"category\", \"sentiment\", \"suggested_policy\", \"draft_reply\". Do not include any markdown formatting or extra text outside the JSON."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        280,
        0
      ],
      "id": "c6d49895-aa4e-41f6-a0ad-b15f1c51700c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $workflow.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        352,
        224
      ],
      "id": "9f258127-56a1-4d93-8b34-102eb7c1e407",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use this tool to search FinServe company policies, rules, and procedures regarding credit cards, loans, and IT issues.",
        "documentId": {
          "__rl": true,
          "value": "1hxer7SKbDbfgNOkQGVsMUCZ3qXtKMFOCPCOABVcuSek",
          "mode": "list",
          "cachedResultName": "FinServe",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hxer7SKbDbfgNOkQGVsMUCZ3qXtKMFOCPCOABVcuSek/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Arkusz1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hxer7SKbDbfgNOkQGVsMUCZ3qXtKMFOCPCOABVcuSek/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        480,
        224
      ],
      "id": "f0d7f471-1827-4503-b5b2-adcb6b982bdb",
      "name": "Get row(s) in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "S4nVfZn56KM9ZHZi",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-3-flash-preview",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        224,
        224
      ],
      "id": "ee690250-2343-4135-be65-e7cf5a977e57",
      "name": "Google Gemini Chat Model",
      "alwaysOutputData": false,
      "credentials": {
        "googlePalmApi": {
          "id": "7DfUBucT26LGJzZ3",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        912,
        0
      ],
      "id": "f9052e3f-20ab-4889-a486-ab4bf29c6bcb",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8321a8ba-a240-4bd3-9c50-ef1bd2a0ab3f",
              "name": "category",
              "value": "={{ JSON.parse($json.output).category }}",
              "type": "string"
            },
            {
              "id": "f4a3da6b-35e6-4f52-8cdc-6b3f9936a486",
              "name": "sentiment",
              "value": "={{ JSON.parse($json.output).sentiment }}",
              "type": "string"
            },
            {
              "id": "5672bb8b-194c-4bab-bb9e-c543c9b641ff",
              "name": "suggested_policy",
              "value": "={{ JSON.parse($json.output).suggested_policy }}",
              "type": "string"
            },
            {
              "id": "1ce6466c-fc16-415f-ad57-9c72c1944ba7",
              "name": "draft_reply",
              "value": "=Dear {{ $('Webhook').item.json.body.customer_name }},\nThank you for contacting FinServe Support. \n\n{{ JSON.parse($json.output).draft_reply }}\n\nIf you have any further questions, please do not hesitate to reach out through our portal. \nBest regards,\nAlex Carter \nFinServe Client Support Team",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        688,
        0
      ],
      "id": "438e4d0f-8901-42c0-8c8c-72f99bd772f3",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "44a886ca-5538-4ae8-895d-3cfbdb1586c3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "89687bc1d346cf87935bbc8d684538a677f249253b07b6b9c9b6cc0cdde230f6"
  },
  "id": "cQBoLFjm2aIzapxq",
  "tags": []
}